.fourPage {
    width: 100%;
    height: 578px;
    background: #fff;

}


.fourPageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSide {
    display: flex;
    gap: 100px;
    flex-direction: column;
}

.txtPricesF {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #000;
}

.fBtnsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.fBorderForContainerBtns {
    border: 1px solid #e3e1d5;
    border-radius: 20px;
    width: 332px;
    height: 282px;
}


.styleForElemInButton {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.styleForElemInButton2 {
    margin: 0 auto;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.fBorderForBtn {
    border-radius: 20px;
    width: 250px;
    height: 50px;
    background: #edf2ec;
}


.fStyleForTxtInLeftBtn {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #000;
    font-family: "Roboto", sans-serif;
}

.rightSide {
    display: flex;
    flex-direction: column;
    gap: 39px;
    align-items: flex-end;
}


.fContainerOfRightSide {
    max-width: 452px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 39px;
}

.fTxtInRightSide {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-align: right;
    color: #000;
    font-family: "Roboto", sans-serif;


}

.gardeners {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-align: right;
    color: #499A18;
    font-family: "Roboto", sans-serif;
}

.fBtnStyleInRightSide {
    max-width: 162px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #e06733;

    border: 1px solid #e06733;
    background: #fff;
    border-radius: 5px;
    width: 162px;
    height: 50px;
}

.pricesBlock {
    border-radius: 20px;
    width: 250px;
    height: 154px;
    background: #d6e7d2;

}

.pricesBlockContainer {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 85%;
    border-radius: 20px;
    width: 70%;
    height: 154px;
    gap: 5px;
}

.priceHeader {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.50px solid #aea1a1;
    padding-bottom: 12px;
}

.firstTxtInPriceBlock {
    width: 100%;
    font-weight: 300;
    font-size: 10px;
    line-height: 100%;
    color: #717171;
}


.secondTxtInPriceBlock {
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    line-height: 167%;
    color: #e06733;
}

/* почему остальные начинаются с начала а этот нет */
.orderBtn {
    margin-right: auto;
    border-radius: 10px;
    width: 86px;
    height: 25px;
    background: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    color: #717171;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}


@media screen and (max-width: 790px) {

    .fourPage {
        height: 512px;
    }

    .fourPageContainer {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .AAA {
        display: none;
    }

    .leftSide {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .txtPricesF {
        font-weight: 700;
        font-size: 25px;
        text-align: center;
        color: #000;
    }

    .fBorderForContainerBtns {
        border: 1px solid #e3e1d5;
        border-radius: 20px;
        width: 224px;
        height: 235px;
    }

    .fBorderForBtn {
        border-radius: 20px;
        width: 180px;
        height: 49px;
    }

    .fStyleForTxtInLeftBtn {
        font-weight: 700;
        font-size: 15px;
        line-height: 133%;
        color: #000;
    }

    .styleForElemInButton2 {
        max-width: 105px;
    }

    .pricesBlock {
        width: 180px;
        height: 100px;
    }

    .fTxtInRightSide {
        max-width: 230px;
        font-weight: 700;
        font-size: 20px;
        line-height: 175%;
        text-align: center;
        color: #000;
    }

    .gardeners {
        font-weight: 700;
        font-size: 20px;
        line-height: 175%;
        text-align: center;
    }

    .fBtnStyleInRightSide {
        border: 1px solid #e06733;
        border-radius: 5px;
        width: 121px;
        height: 35px;
        font-weight: 700;
        font-size: 15px;
        text-align: center;
        color: #e06733;
    }

    .fContainerOfRightSide {
        justify-content: center;
        align-items: center;
    }
}