@import url(secondPageStyles.css);

body {
    margin: 0;
}

p {
    margin: 0;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 134px;
    background: #EDF2EC;
}

.wrapper {
    width: 100%;
}

.container {
    width: 85%;
    height: 100%;
    /*????*/
    margin: 0 auto;
    max-width: 1220px;

}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoContainer {
    display: flex;
    position: relative;
}

.miniLeaf {
    max-width: 20px;
    max-height: 20px;
}



.logo {
    font-family: "Inika", serif;
    margin-top: auto;

}

.burgerContainer{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.burgerMenu {
    
    border: 2px solid #717171;
    width: 40px;
    height: 0px;
}

.ulList {
    flex-wrap: wrap;
    display: flex;
    gap: 46px;
}

.ulList li a {
    font-family: "Inika", serif;
    text-decoration: none;
    color: black;
}

.ulList li a:hover {
    color: #e06733;
}

.welcomeSection {

    height: 532px;
    background-color: #EDF2EC;
    padding: 62px 0;
    box-sizing: border-box;
}

.welcomeText {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bigText {
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    line-height: 111%;
    font-weight: 700;
    color: #717171;
}

.plantsHighlight {
    color: #499a18;
}

.smallText {

    font-family: 'Inika', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 175%;
    color: #636060;
}

.mainTextPadding {

    margin-top: 46px;
    margin-bottom: 46px;
}

.mainTextPadding:first-child {
    margin-top: 0px;
}

.mainTextPadding:last-child {
    margin-bottom: 0px;
}

.welcome {
    width: 549px;
}

.but {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: #000;
    border: 2px solid #e06733;
    border-radius: 10px;
    width: 158px;
    height: 44px;
    background: rgba(224, 103, 51, 0);
}



.txtColor,
.txtSecondStylesUnderPhoto {
    transition: filter 0.3s ease;

}

.blurred {
    filter: blur(4px);
}






@media screen and (max-width: 1412px) {


    .welcomeText {
        flex-direction: row-reverse;
    }

    .bigText {
        font-weight: 700;
        font-size: 35px;
        line-height: 143%;
    }

    .smallText {
        font-weight: 400;
        font-size: 16px;
        line-height: 156%;
    }

    .bigLeafs {
        max-width: 280px;
        max-height: 254px;
    }

    .secondPageContainer {
        flex-direction: column;

    }
}

@media screen and (max-width: 790px) {

    .header_container {
        height: 96px;
    }

    .welcomeSection {
        height: 300px;
    }

    .welcome {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .bigText {
        font-weight: 700;
        font-size: 25px;
        line-height: 140%;
        color: #717171;
    }

    .smallText {
        font-weight: 400;
        font-size: 16px;
        line-height: 156%;
        color: #636060;
    }

    .ulList {
        font-size: 15px;
        gap: 10px;
    }

    .but {
        border-radius: 10px;
        width: 100px;
        height: 34px;
        font-weight: 400;
        font-size: 10px;
        line-height: 200%;
        text-align: center;
        color: #000;
    }

    .mainTextPadding {
        margin: 0px;
    }

    .bigLeafs {
        display: none;
    }
}

.hideen {
    display: none;
}